<div class="owner-booking-card p-3 m-3 shadow">
  <div>
    <h2>
      <%= booking.start_date.strftime('%m-%d-%Y')%>
      <%= booking.start_date.strftime('%H:%M')%> -
      <%= booking.end_date.strftime('%H:%M')%>
    </h2>
    <p class="text-xl text-capitalize mb-0"><%= booking.user.name %></p>
    <p class="text-xl">Total: ¥ <%= booking.total_price %></p>
  </div>
  <div class="owner-booking-action d-flex flex-column justify-content-evenly">
    <h2 class="text-center text-capitalize"><%= booking.status %></h2>
    <div class="d-flex justify-content-evenly">
      <% if booking.pending? %>
        <%= link_to accept_booking_path(booking), method: :patch, remote: true, class: "owner-action-btn btn-accept py-2 px-3" do %>
          <p class="mb-0">
            Accept
          </p>
        <% end %>
        <%= link_to refuse_booking_path(booking), method: :patch, remote: true, class: "owner-action-btn btn-decline py-2 px-3" do %>
          <p class="mb-0">
            Decline
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
