  <%= render partial: "shared/navbar" %>

<div class="search_msg">
  <p><%= @search_msg %></p>
</div>

<h1 class="text-center mt-4git "><%= @title %></h1>
<div class="main-container">
  <div class="container-fluid mt-4">
    <div class="studios-list col-xs-6">
      <% @studios.each do |studio| %>
        <%= render partial: "card", locals: {studio: studio}%>
      <% end %>
    </div>
  </div>
  <%# Note: the map uses a custom map-sticky instead of the bootstrap one,
  because the bootstrap sticky has a z-index on top of the avatar dropdown %>
  <div class="container-fluid mt-4 mr-5 pr-5 map-sticky" id="sidebar"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    style='width: 100%; height: 600px;'>
  </div>
</div>
