<%= render partial: "shared/navbar" %>

<div class="container mt-5">
  <h1><%= @studio.name %></h1>
    <div class="mt-3">
      <p>
        <%= @studio.description %>
      </p>
    </div>
  <div>
    <div class="images--flex">
        <%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill, class: "img-responsive p-1" %>
      <div class="images--flex__inner">
        <%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill, class: "img-responsive p-1" %>
        <%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill, class: "img-responsive p-1" %>
        <%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill, class: "img-responsive p-1" %>
        <%= cl_image_tag @studio.photo.key, height: 300, width: 400, crop: :fill, class: "img-responsive p-1" %>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="d-flex justify-content-between w-screen">
  <div class="d-flex flex-grow-1">
    <div class="d-flex flex-grow-1 justify-content-between pe-5">
      <div class="d-flex flex-column">
        <h2>Address:</h2>
        <p><%= @studio.address %></p>
        <h2>Price:</h2>
        <p>$<%= @studio.price %></p>
      </div>
      <%= link_to new_studio_booking_path(@studio), class: "studio-booking-btn" do %>
        <p class="mb-0">Book now!</p>
      <% end %>
    </div>
  </div>
    <div id='map' style='width: 60%; height: 500px;' class="mb-5"></div>
      <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibmFpcmRlc2lnbnMiLCJhIjoiY2t6N3oxZGtyMWY5ejJ2cGhtc283bWtoYiJ9.2Xm0lvF_0guXITdMgqokVg';
      var map = new mapboxgl.Map({
        container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
      });
      </script>
    </div>
</div>
