<%= render partial: "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="text-capitalize"><%= @studio.name %></h1>
      <p>
        <%= @studio.description %>
      </p>
      <%= cl_image_tag @studio.photo.key, crop: :fill, class: "img-responsive p-1" %>
      <div
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        style='width: 100%; height: 500px;'
        class="mb-5 mt-5">
      </div>
    </div>
    <div class="col-4">
      <div class="studio-booking-form shadow p-5">
        <div>
          <p class="text-label">
            <span class="text-lg text-white"><i class="fas fa-map me-2"></i>Address: </span><%= @studio.address %>
          </p>
          <p id="user-distance" class="text-label">
            <span class="text-lg text-white"><i class="fas fa-map-marked-alt me-2"></i>Distance: </span>N/A
          </p>
          <p class="text-label">
            <span class="text-lg text-white"><i class="fas fa-tag me-2"></i>Price: </span>¥<%= @studio.price %>/hr
          </p>
        </div>
        <div>
          <%= render partial: "bookings/form", locals: {booking: @booking, studio: @studio} %>
        </div>
      </div>
    </div>
  </div>
</div>
